; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

[_*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = LF
