# Plugin owners
plugins/aws/                        @maksyms
plugins/genpass/                    @atoponce
plugins/git-lfs/                    @hellovietduc
plugins/gitfast/                    @felipec
plugins/sdk/                        @rgoldberg
plugins/universalarchive/           @Konfekt
plugins/wp-cli/                     @joshmedeski
