# Plugin owners
plugins/aws/                        @maksyms
plugins/git-lfs/                    @vietduc01100001
plugins/gitfast/                    @felipec
plugins/sdk/                        @rgoldberg
