.DS_Store
vim/bundle/*
vim/sessions/*
vim/.netrwhist
vim/vundle_plugins/custom
vim/.backup/*
vim/.tmp/*
vim/.temp/*
vim/.backup/*
vim/.undo/*
bash/ssh.sh
bin/php*
config/configstore/update-notifier-nodemon.json
vim/.spell/custom.en.utf-8.add.spl
emacs/*.elc
emacs/\#*
emacs/bookmarks
emacs/backup
emacs/backup.*
emacs/org-clock-save.el
emacs/ac-comphist.dat
emacs/tramp
emacs/elpa
emacs/var
emacs/eshell
emacs/ido.last
emacs/recentf
emacs/.cask
emacs/emms
emacs/url
emacs/auto-save-list
emacs/projectile-bookmarks.eld
emacs/projectile.cache
emacs/saveplace
emacs/projectile.cache
emacs/projectile-bookmarks.eld
emacs/ac-comphist.dat
emacs/auto-save-list
emacs/games
config/configstore/snyk.json
config/git/gitk
config/vifm/vifminfo
vim/vim
