export ZSH="/Users/maxclaytoncowes/Development/mcclowes/oh-my-zsh"

ZSH_THEME="bureau"

plugins=(
  codogo
  experiments
  git
  githubutils
  imagetools
  jestutils
  mcclowes
  pollen
  sublime
  workshare
  zsh-syntax-highlighting
)

source $ZSH/oh-my-zsh.sh

## --------------- User configuration --------------- 

# Sublime as editor
export EDITOR='sublime'

# Paths

PATH="/sbin:$PATH"
PATH="/bin:$PATH"
PATH="/usr/sbin:$PATH"
PATH="/usr/bin:$PATH"
PATH="/usr/local/sbin:$PATH"
PATH="/usr/local/bin:$PATH"

# Python
#PATH=/usr/local/share/python:$PATH
#PATH="/usr/local/opt/python/libexec/bin:$PATH" # WIP

# gettext
PATH="/usr/local/opt/gettext/bin:$PATH"

# pyenv
export PYENV_VERSION="3.7.3"
export PYENV_ROOT="$HOME/.pyenv"
PATH="$PYENV_ROOT/bin:$PATH"

# Yarn
PATH="$PATH:/opt/yarn-[version]/bin"

# Openssl
export SSL_CERT_FILE="/usr/local/etc/openssl@1.1/cert.pem"
export SSL_CERT_DIR="/usr/local/etc/openssl@1.1"
# PATH="/usr/local/opt/openssl@1.1/bin:$PATH"
# export LDFLAGS="-L/usr/local/opt/openssl@1.1/lib"
# export CPPFLAGS="-I/usr/local/opt/openssl@1.1/include"
# export PKG_CONFIG_PATH="/usr/local/opt/openssl@1.1/lib/pkgconfig"

#PATH=$PATH:$HOME/bin

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

export PATH

# pyenv
if command -v pyenv 1>/dev/null 2>&1; then
  eval "$(pyenv init -)"
fi

# -- Functions --

# Function to check for updates to the current directory if the CD is a git repo
cd () { builtin cd "$@" && cd_git_checker; }
cd_git_checker () { 
  if [ -d .git ]; then
    git fetch
  fi;
}

# Brew automcomplete
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
fi

# npmfetch
function npmfetch {
  rm -rf node_modules && npm update --save-dev && npm update --save
}

export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
