* text=auto

*.cc   text eol=lf
*.h    text eol=lf
*.info text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.sh   text eol=lf
*.zsh  text eol=lf

/.clang-format text eol=lf
/LICENSE       text eol=lf
/Makefile      text eol=lf
/build         text eol=lf
/install       text eol=lf
/mbuild        text eol=lf
